
.row {
    background-color: #f7f7f7;
    margin-bottom:1rem;
    padding:0.5rem;
}
.col {

}
.page-item {
    width: 1rem;
    height: 1rem;
    background: linear-gradient(#222f37,#162026 );
    text-align:center;
    line-height:0.75rem;
    margin-left:0.2rem;
    border-radius:0.2rem;
}
.active {
    background:linear-gradient(green,green);
}
.page-link {
    color: whitesmoke;
    font-size: 0.6rem;
}

.container_alone-text {
}
.container_alone-text table {
    border: none;
    border-collapse: collapse;
    padding: 0.5rem;
    width:60% !important;
    margin:0 auto;
}
    .container_alone-text table thead {
        background: linear-gradient(#222f37,#162026 ) !important;
        color: white;
        font-family: "BPG_SSP_Caps";
    }
    .container_alone-text table tr td {
        padding:0.5rem;
    }
.bg_items {
    font-size: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #797878;
}
.bg_items:nth-child(2n+1){
    margin-top: 0;
}
    .bg_items span {
        display: inline-block;
        color: #a09d9d;
        margin-right:0.3rem;
    }
.ktcityStructure {
    padding:0 !important;
    padding-bottom:0.6rem !important;
}
    .ktcityStructure h3 {
        font-family: "BPG_SSP_Caps" !important;
    }
.container_worker {
    grid-template-rows:none !important;
}