@model List<links>
@{
    ViewData["Title"] = "კანონმდებლობა";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mainContainer shadows">
    <div class="container">
        <div class="container-canoni">

            
                @foreach (links lk in Model)
                {
                    <div>
                        <a href="@lk.Link"
                           target="_blank">@lk.Text</a>
                    </div>
                }


        </div>
    </div>
</div>

